@model GetByIdCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/EstateAdmin/Views/Shared/_AdminLayout.cshtml";
}

<form method="post"> 
    <input type="hidden" asp-for="CategoryID" />
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control" />
    <br />
    <button class="btn btn-primary">Kategori Ekle</button>
</form>

