@model UpdateServiceDto
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Areas/EstateAdmin/Views/Shared/_AdminLayout.cshtml";
}

<form method="post"> 
    <input type="hidden" asp-for="ServiceID" />
    <label>Icon</label>
    <input type="text" asp-for="İcon" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Ana Başlık</label>
    <input type="text" asp-for="SubTitle" class="form-control" />
    <br />
    <button class="btn btn-primary">Servis Ekle</button>
</form>

