@model List<ResultCategoryDto>
<section class="ftco-search">
	<div class="container">
		<div class="row">
			<div class="col-md-12 search-wrap">
				<h2 class="heading h5 d-flex align-items-center pr-4"><span class="ion-ios-search mr-3"></span> Search Property</h2>
				<form  asp-action="PropertyListWithSearch" asp-controller="Property"  class="search-property" method="post">
					<div class="row">
						<div class="col-md align-items-end">
							<div class="form-group">
								<label for="#">Ev Kategorisini Seçiniz</label>
								<div class="form-field">
									<div class="select-wrap">
										<div class="icon"><span class="ion-ios-arrow-down"></span></div>
										<select name="propertyCategoryıd" class="form-control">
											@foreach (var item in Model)
											{
												<option value="@item.CategoryID">@item.CategoryName</option>
											}
									
											
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md align-items-end">
							<div class="form-group">
								<label for="#">Property Status</label>
								<div class="form-field">
									<div class="select-wrap">
										<div class="icon"><span class="ion-ios-arrow-down"></span></div>
										<select name="Type" class="form-control">
											<option value="">Kiralık</option>
											<option value="">Satılık</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-dark">İlan Ara</button>
				</form>
			</div>
		</div>
</section>
